body{
    text-align: center;
    background-color:royalblue;
}
.logIn{
    background-color: white;
    max-width: 500px;
    margin: auto;
    border-radius: 20px;
    padding: 20px 10px;
    margin-bottom: 20px;
}
#logInButton{
    width: 500px;
}
.score-details{
    text-align: left;
    margin-left: 20px;
    }
    .game-area{
        width: 750px;
        margin: auto;
        background-color: white;
        padding: 30px 5px;
        border-radius: 30px;
        color: black;
    }
    .game-body{
        background-color:rebeccapurple;
        color: white;
    }
    .btn{
        padding: 5px 30px;
    }
    .question-box{
        margin-bottom: 50px;
    }
    .no{
        text-align: left;
    }